<%- include("templates/header.template.ejs", {titulo: "Titulo MAMALON" }) %>
    <%- include("templates/nav.template.ejs") %>


        <h2>agregar estudiantes actividad</h2>
        <%- include("templates/footer.template.ejs") %>