<%- include("templates/header.template.ejs", {titulo: "Titulo MAMALON" }) %>
    <%- include("templates/nav.template.ejs") %>

    <div class="container mt-5">
        <div class="jumbotron">
          <h1 class="display-4">Bienvenido/a</h1>
          <p class="lead">¡Esta es una pantalla estática y bonita en HTML usando Bootstrap!</p>
          <hr class="my-4">
          <p>Puedes agregar más contenido aquí...</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Click Aquí</a>
        </div>
      </div>
        <%- include("templates/footer.template.ejs") %>