<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #002134; color: white;">
    <a class="navbar-brand" href="/" style="color: white;">Registro ART140</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/postEstudiantesActividad" style="color: white;">Verificar Usuario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/estudiante" style="color: white;">Ver usuarios</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/sala"style="color: white;">Ver Ingresos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/postEstudiantes" style="color: white;">Agregar usuario</a>
        </li>
        </ul>
    </div>
</nav>
